openapi: 3.0.0
info:
  contact:
    url: http://developer.ticketmaster.com/support/contact-us/
  description: "The Ticketmaster Discovery API allows you to search for events, attractions,\
    \ or venues."
  title: Discovery API
  version: v2
  x-apisguru-categories:
  - ecommerce
  x-origin:
  - version: "2.0"
    format: swagger
    url: https://raw.githubusercontent.com/ticketmaster-api/ticketmaster-api.github.io/dev/_data/orgs/discovery-api/v2/api.json
  x-providerName: ticketmaster.com
  x-serviceName: discovery
  x-konfig-has-globally-required-security: true
servers:
- url: //www.ticketmaster.com/discovery/v2
security:
- apiKey: []
tags:
- name: v2
paths:
  /discovery/v2/attractions:
    get:
      description: "Find attractions (artists, sports, packages, plays and so on)\
        \ and filter your search by name, and much more."
      operationId: V2_searchAttractions
      parameters:
      - description: "Sorting order of the search result. Allowable Values : 'name,asc',\
          \ 'name,desc', 'relevance,asc', 'relevance,desc'"
        example: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: "relevance,desc"
          example: "relevance,desc"
          pattern: "^(name|relevance),(asc|desc)$"
          type: string
          x-konfig-original-example: "relevance,desc"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-attractions-get-parameters-0-schema
        style: form
        x-konfig-original-example: ""
      - description: "Filter attractions by classification name: name of any segment,\
          \ genre, sub-genre, type, sub-type"
        example: ""
        explode: true
        in: query
        name: classificationName
        required: false
        schema:
          example: ""
          items: {}
          type: array
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-attractions-get-parameters-1-schema
        style: form
        x-konfig-original-example: ""
      - description: "Filter attractions by classification id: id of any segment,\
          \ genre, sub-genre, type, sub-type"
        example: ""
        explode: true
        in: query
        name: classificationId
        required: false
        schema:
          example: ""
          items: {}
          type: array
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-attractions-get-parameters-2-schema
        style: form
        x-konfig-original-example: ""
      - description: Keyword to search on
        example: ""
        explode: true
        in: query
        name: keyword
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-attractions-get-parameters-3-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter entities by its id
        example: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-attractions-get-parameters-4-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter entities by its source name
        example: ""
        explode: true
        in: query
        name: source
        required: false
        schema:
          default: ""
          enum:
          - ticketmaster
          - ' universe'
          - ' frontgate'
          - ' tmr'
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-attractions-get-parameters-5-schema
        style: form
        x-konfig-original-example: ""
      - description: "True if you want to have entities flag as test in the response.\
          \ Only, if you only wanted test entities"
        example: ""
        explode: true
        in: query
        name: includeTest
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          - ' only'
          example: "false"
          pattern: ^\s*|yes|no|only$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-attractions-get-parameters-6-schema
        style: form
        x-konfig-original-example: ""
      - description: Page number
        example: ""
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: "0"
          example: "0"
          minimum: 0
          type: string
          x-konfig-original-example: "0"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-attractions-get-parameters-7-schema
        style: form
        x-konfig-original-example: ""
      - description: Page size of the response
        example: ""
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: "20"
          example: "20"
          maximum: 500
          minimum: 1
          type: string
          x-konfig-original-example: "20"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-attractions-get-parameters-8-schema
        style: form
        x-konfig-original-example: ""
      - description: "The locale in ISO code format. Multiple comma-separated values\
          \ can be provided. When omitting the country part of the code (e.g. only\
          \ 'en' or 'fr') then the first matching locale is used. When using a '*'\
          \ it matches all locales. '*' can only be used at the end (e.g. 'en-us,en,*') "
        example: "en-us,en,fr"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-attractions-get-parameters-9-schema
        style: form
        x-konfig-original-example: "en-us,en,fr"
      - description: Yes if you want to display licensed content
        example: ""
        explode: true
        in: query
        name: includeLicensedContent
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-attractions-get-parameters-10-schema
        style: form
        x-konfig-original-example: ""
      - description: "yes, to include spell check suggestions in the response."
        example: ""
        explode: true
        in: query
        name: includeSpellcheck
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-attractions-get-parameters-11-schema
        style: form
        x-konfig-original-example: ""
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/V2SearchAttractionsResponse'
          description: successful operation
      summary: Attraction Search
      tags:
      - v2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--discovery-v2-attractions
      x-accepts: '*/*'
  /discovery/v2/attractions/{id}:
    get:
      description: Get details for a specific attraction using the unique identifier
        for the attraction.
      operationId: V2_getAttractionDetails
      parameters:
      - description: ID of the attraction
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "The locale in ISO code format. Multiple comma-separated values\
          \ can be provided. When omitting the country part of the code (e.g. only\
          \ 'en' or 'fr') then the first matching locale is used. When using a '*'\
          \ it matches all locales. '*' can only be used at the end (e.g. 'en-us,en,*') "
        example: "en-us,en,fr"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-attractions-id-get-parameters-1-schema
        style: form
        x-konfig-original-example: "en-us,en,fr"
      - description: True if you want to display licensed content
        example: ""
        explode: true
        in: query
        name: includeLicensedContent
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-attractions-id-get-parameters-2-schema
        style: form
        x-konfig-original-example: ""
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Attraction'
          description: successful operation
      summary: Get Attraction Details
      tags:
      - v2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--discovery-v2-attractions-id
      x-accepts: '*/*'
  /discovery/v2/classifications:
    get:
      description: "Find classifications and filter your search by name, and much\
        \ more. Classifications help define the nature of attractions and events."
      operationId: V2_searchClassifications
      parameters:
      - description: Sorting order of the search result
        example: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: "name,asc"
          example: "name,asc"
          pattern: "^name,asc|name,desc$"
          type: string
          x-konfig-original-example: "name,asc"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-get-parameters-0-schema
        style: form
        x-konfig-original-example: ""
      - description: Keyword to search on
        example: ""
        explode: true
        in: query
        name: keyword
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-get-parameters-1-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter entities by its id
        example: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-get-parameters-2-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter entities by its source name
        example: ""
        explode: true
        in: query
        name: source
        required: false
        schema:
          default: ""
          enum:
          - ticketmaster
          - ' universe'
          - ' frontgate'
          - ' tmr'
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-get-parameters-3-schema
        style: form
        x-konfig-original-example: ""
      - description: "True if you want to have entities flag as test in the response.\
          \ Only, if you only wanted test entities"
        example: ""
        explode: true
        in: query
        name: includeTest
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          - ' only'
          example: "false"
          pattern: ^\s*|yes|no|only$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-get-parameters-4-schema
        style: form
        x-konfig-original-example: ""
      - description: Page number
        example: ""
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: "0"
          example: "0"
          minimum: 0
          type: string
          x-konfig-original-example: "0"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-get-parameters-5-schema
        style: form
        x-konfig-original-example: ""
      - description: Page size of the response
        example: ""
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: "20"
          example: "20"
          maximum: 500
          minimum: 1
          type: string
          x-konfig-original-example: "20"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-get-parameters-6-schema
        style: form
        x-konfig-original-example: ""
      - description: "The locale in ISO code format. Multiple comma-separated values\
          \ can be provided. When omitting the country part of the code (e.g. only\
          \ 'en' or 'fr') then the first matching locale is used. When using a '*'\
          \ it matches all locales. '*' can only be used at the end (e.g. 'en-us,en,*') "
        example: "en-us,en,fr"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-get-parameters-7-schema
        style: form
        x-konfig-original-example: "en-us,en,fr"
      - description: Yes if you want to display licensed content
        example: ""
        explode: true
        in: query
        name: includeLicensedContent
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-get-parameters-8-schema
        style: form
        x-konfig-original-example: ""
      - description: "yes, to include spell check suggestions in the response."
        example: ""
        explode: true
        in: query
        name: includeSpellcheck
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-get-parameters-9-schema
        style: form
        x-konfig-original-example: ""
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/V2SearchClassificationsResponse'
          description: successful operation
      summary: Classification Search
      tags:
      - v2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--discovery-v2-classifications
      x-accepts: '*/*'
  /discovery/v2/classifications/genres/{id}:
    get:
      description: Get details for a specific genre using its unique identifier.
      operationId: V2_getGenreDetails
      parameters:
      - description: ID of the genre
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "The locale in ISO code format. Multiple comma-separated values\
          \ can be provided. When omitting the country part of the code (e.g. only\
          \ 'en' or 'fr') then the first matching locale is used. When using a '*'\
          \ it matches all locales. '*' can only be used at the end (e.g. 'en-us,en,*') "
        example: "en-us,en,fr"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-genres-id-get-parameters-1-schema
        style: form
        x-konfig-original-example: "en-us,en,fr"
      - description: True if you want to display licensed content
        example: ""
        explode: true
        in: query
        name: includeLicensedContent
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-genres-id-get-parameters-2-schema
        style: form
        x-konfig-original-example: ""
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Genre'
          description: successful operation
      summary: Get Genre Details
      tags:
      - v2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--discovery-v2-classifications-genres-id
      x-accepts: '*/*'
  /discovery/v2/classifications/segments/{id}:
    get:
      description: Get details for a specific segment using its unique identifier.
      operationId: V2_getSegmentDetails
      parameters:
      - description: ID of the segment
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "The locale in ISO code format. Multiple comma-separated values\
          \ can be provided. When omitting the country part of the code (e.g. only\
          \ 'en' or 'fr') then the first matching locale is used. When using a '*'\
          \ it matches all locales. '*' can only be used at the end (e.g. 'en-us,en,*') "
        example: "en-us,en,fr"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-segments-id-get-parameters-1-schema
        style: form
        x-konfig-original-example: "en-us,en,fr"
      - description: True if you want to display licensed content
        example: ""
        explode: true
        in: query
        name: includeLicensedContent
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-segments-id-get-parameters-2-schema
        style: form
        x-konfig-original-example: ""
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Segment'
          description: successful operation
      summary: Get Segment Details
      tags:
      - v2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--discovery-v2-classifications-segments-id
      x-accepts: '*/*'
  /discovery/v2/classifications/subgenres/{id}:
    get:
      description: Get details for a specific sub-genre using its unique identifier.
      operationId: V2_getSubgenreDetails
      parameters:
      - description: ID of the subgenre
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "The locale in ISO code format. Multiple comma-separated values\
          \ can be provided. When omitting the country part of the code (e.g. only\
          \ 'en' or 'fr') then the first matching locale is used. When using a '*'\
          \ it matches all locales. '*' can only be used at the end (e.g. 'en-us,en,*') "
        example: "en-us,en,fr"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-subgenres-id-get-parameters-1-schema
        style: form
        x-konfig-original-example: "en-us,en,fr"
      - description: True if you want to display licensed content
        example: ""
        explode: true
        in: query
        name: includeLicensedContent
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-subgenres-id-get-parameters-2-schema
        style: form
        x-konfig-original-example: ""
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Level'
          description: successful operation
      summary: Get Sub-Genre Details
      tags:
      - v2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--discovery-v2-classifications-subgenres-id
      x-accepts: '*/*'
  /discovery/v2/classifications/{id}:
    get:
      description: "Get details for a specific segment, genre, or sub-genre using\
        \ its unique identifier."
      operationId: V2_getClassificationDetails
      parameters:
      - description: "ID of the segment, genre, or sub-genre"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "The locale in ISO code format. Multiple comma-separated values\
          \ can be provided. When omitting the country part of the code (e.g. only\
          \ 'en' or 'fr') then the first matching locale is used. When using a '*'\
          \ it matches all locales. '*' can only be used at the end (e.g. 'en-us,en,*') "
        example: "en-us,en,fr"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-id-get-parameters-1-schema
        style: form
        x-konfig-original-example: "en-us,en,fr"
      - description: True if you want to display licensed content
        example: ""
        explode: true
        in: query
        name: includeLicensedContent
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-classifications-id-get-parameters-2-schema
        style: form
        x-konfig-original-example: ""
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Classification'
          description: successful operation
      summary: Get Classification Details
      tags:
      - v2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--discovery-v2-classifications-id
      x-accepts: '*/*'
  /discovery/v2/events:
    get:
      description: "Find events and filter your search by location, date, availability,\
        \ and much more."
      operationId: V2_eventSearch
      parameters:
      - description: "Sorting order of the search result. Allowable values : 'name,asc',\
          \ 'name,desc', 'date,asc', 'date,desc', 'relevance,asc', 'relevance,desc',\
          \ 'distance,asc', 'name,date,asc', 'name,date,desc', 'date,name,asc', 'date,name,desc','onsaleStartDate,asc',\
          \ 'id,asc'"
        example: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: "relevance,desc"
          example: "relevance,desc"
          pattern: "^((name|date|relevance|name,date|date,name),(asc|desc))|(distance,asc)|(onSaleStartDate,asc)|(id,asc)$"
          type: string
          x-konfig-original-example: "relevance,desc"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-0-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events with a start date after this date
        example: ""
        explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-1-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events with a start date before this date
        example: ""
        explode: true
        in: query
        name: endDateTime
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-2-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events with onsale start date after this date
        example: ""
        explode: true
        in: query
        name: onsaleStartDateTime
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-3-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events with onsale start date on this date
        example: ""
        explode: true
        in: query
        name: onsaleOnStartDate
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-4-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events with onsale range within this date
        example: ""
        explode: true
        in: query
        name: onsaleOnAfterStartDate
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-5-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events with onsale end date before this date
        example: ""
        explode: true
        in: query
        name: onsaleEndDateTime
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-6-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events by city
        example: ""
        explode: true
        in: query
        name: city
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-7-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events by country code
        example: ""
        explode: true
        in: query
        name: countryCode
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-8-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events by state code
        example: ""
        explode: true
        in: query
        name: stateCode
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-9-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events by postal code / zipcode
        example: ""
        explode: true
        in: query
        name: postalCode
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-10-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events by venue id
        example: ""
        explode: true
        in: query
        name: venueId
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-11-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events by attraction id
        example: ""
        explode: true
        in: query
        name: attractionId
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-12-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events by segment id
        example: ""
        explode: true
        in: query
        name: segmentId
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-13-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events by segment name
        example: ""
        explode: true
        in: query
        name: segmentName
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-14-schema
        style: form
        x-konfig-original-example: ""
      - description: "Filter events by classification name: name of any segment, genre,\
          \ sub-genre, type, sub-type"
        example: ""
        explode: true
        in: query
        name: classificationName
        required: false
        schema:
          example: ""
          items: {}
          type: array
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-15-schema
        style: form
        x-konfig-original-example: ""
      - description: "Filter events by classification id: id of any segment, genre,\
          \ sub-genre, type, sub-type"
        example: ""
        explode: true
        in: query
        name: classificationId
        required: false
        schema:
          example: ""
          items: {}
          type: array
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-16-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events by market id
        example: ""
        explode: true
        in: query
        name: marketId
        required: false
        schema:
          default: ""
          example: ""
          pattern: "^\\s*$|^(\\d+(,\\d+)*)?$"
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-17-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events by promoter id
        example: ""
        explode: true
        in: query
        name: promoterId
        required: false
        schema:
          default: ""
          example: ""
          pattern: "^\\s*$|^(\\d+(,\\d+)*)?$"
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-18-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events by dma id
        example: ""
        explode: true
        in: query
        name: dmaId
        required: false
        schema:
          default: ""
          example: ""
          pattern: "^\\s*$|^(\\d+(,\\d+)*)?$"
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-19-schema
        style: form
        x-konfig-original-example: ""
      - description: "True, to include events with date to be announce (TBA)"
        example: ""
        explode: true
        in: query
        name: includeTBA
        required: false
        schema:
          default: "no if date parameter sent, yes otherwise"
          enum:
          - "true"
          - ' no'
          - ' only'
          example: "no if date parameter sent, yes otherwise"
          pattern: ^\s*|yes|no|only$
          type: string
          x-konfig-original-example: "no if date parameter sent, yes otherwise"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-20-schema
        style: form
        x-konfig-original-example: ""
      - description: "True, to include event with a date to be defined (TBD)"
        example: ""
        explode: true
        in: query
        name: includeTBD
        required: false
        schema:
          default: "no if date parameter sent, yes otherwise"
          enum:
          - "true"
          - ' no'
          - ' only'
          example: "no if date parameter sent, yes otherwise"
          pattern: ^\s*|yes|no|only$
          type: string
          x-konfig-original-example: "no if date parameter sent, yes otherwise"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-21-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events by clientName
        example: ""
        explode: true
        in: query
        name: clientVisibility
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-22-schema
        style: form
        x-konfig-original-example: ""
      - description: "Filter events by latitude and longitude, this filter is deprecated\
          \ and maybe removed in a future release, please use geoPoint instead"
        example: "33.80003000,-117.88304300"
        explode: true
        in: query
        name: latlong
        required: false
        schema:
          default: ""
          example: ""
          pattern: "^\\s*$|^-?(90(\\.0+)?|[0-8]?[0-9](\\.\\d+)?),-?(180(\\.0+)?|(1[0-7][0-9]|\\\
            d{1,2})(\\.\\d+)?)$"
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-23-schema
        style: form
        x-konfig-original-example: "33.80003000,-117.88304300"
      - description: Radius of the area in which we want to search for events.
        example: ""
        explode: true
        in: query
        name: radius
        required: false
        schema:
          default: "50"
          example: "50"
          pattern: "^\\s*$|^0*1?\\d{1,4}$"
          type: string
          x-konfig-original-example: "50"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-24-schema
        style: form
        x-konfig-original-example: ""
      - description: Unit of the radius
        example: ""
        explode: true
        in: query
        name: unit
        required: false
        schema:
          default: miles
          enum:
          - miles
          - km
          example: miles
          pattern: ^\s*|miles|km$
          type: string
          x-konfig-original-example: miles
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-25-schema
        style: form
        x-konfig-original-example: ""
      - description: filter events by geoHash
        example: dr5rh
        explode: true
        in: query
        name: geoPoint
        required: false
        schema:
          default: ""
          example: ""
          pattern: "^\\s*$|^-?(90(\\.0+)?|[0-8]?[0-9](\\.\\d+)?),-?(180(\\.0+)?|(1[0-7][0-9]|\\\
            d{1,2})(\\.\\d+)?)$|^[a-zA-Z0-9]{1,9}$"
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-26-schema
        style: form
        x-konfig-original-example: dr5rh
      - description: Keyword to search on
        example: ""
        explode: true
        in: query
        name: keyword
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-27-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter entities by its id
        example: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-28-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter entities by its source name
        example: ""
        explode: true
        in: query
        name: source
        required: false
        schema:
          default: ""
          enum:
          - ticketmaster
          - ' universe'
          - ' frontgate'
          - ' tmr'
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-29-schema
        style: form
        x-konfig-original-example: ""
      - description: "True if you want to have entities flag as test in the response.\
          \ Only, if you only wanted test entities"
        example: ""
        explode: true
        in: query
        name: includeTest
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          - ' only'
          example: "false"
          pattern: ^\s*|yes|no|only$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-30-schema
        style: form
        x-konfig-original-example: ""
      - description: Page number
        example: ""
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: "0"
          example: "0"
          minimum: 0
          type: string
          x-konfig-original-example: "0"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-31-schema
        style: form
        x-konfig-original-example: ""
      - description: Page size of the response
        example: ""
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: "20"
          example: "20"
          maximum: 500
          minimum: 1
          type: string
          x-konfig-original-example: "20"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-32-schema
        style: form
        x-konfig-original-example: ""
      - description: "The locale in ISO code format. Multiple comma-separated values\
          \ can be provided. When omitting the country part of the code (e.g. only\
          \ 'en' or 'fr') then the first matching locale is used. When using a '*'\
          \ it matches all locales. '*' can only be used at the end (e.g. 'en-us,en,*') "
        example: "en-us,en,fr"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-33-schema
        style: form
        x-konfig-original-example: "en-us,en,fr"
      - description: Yes if you want to display licensed content
        example: ""
        explode: true
        in: query
        name: includeLicensedContent
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-34-schema
        style: form
        x-konfig-original-example: ""
      - description: "yes, to include spell check suggestions in the response."
        example: ""
        explode: true
        in: query
        name: includeSpellcheck
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-get-parameters-35-schema
        style: form
        x-konfig-original-example: ""
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/V2EventSearchResponse'
          description: successful operation
      summary: Event Search
      tags:
      - v2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--discovery-v2-events
      x-accepts: '*/*'
  /discovery/v2/events/{id}:
    get:
      description: "Get details for a specific event using the unique identifier for\
        \ the event. This includes the venue and location, the attraction(s), and\
        \ the Ticketmaster Website URL for purchasing tickets for the event."
      operationId: V2_getEventDetails
      parameters:
      - description: ID of the event
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "The locale in ISO code format. Multiple comma-separated values\
          \ can be provided. When omitting the country part of the code (e.g. only\
          \ 'en' or 'fr') then the first matching locale is used. When using a '*'\
          \ it matches all locales. '*' can only be used at the end (e.g. 'en-us,en,*') "
        example: "en-us,en,fr"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-id-get-parameters-1-schema
        style: form
        x-konfig-original-example: "en-us,en,fr"
      - description: True if you want to display licensed content
        example: ""
        explode: true
        in: query
        name: includeLicensedContent
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-id-get-parameters-2-schema
        style: form
        x-konfig-original-example: ""
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Event'
          description: successful operation
      summary: Get Event Details
      tags:
      - v2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--discovery-v2-events-id
      x-accepts: '*/*'
  /discovery/v2/events/{id}/images:
    get:
      description: Get images for a specific event using the unique identifier for
        the event.
      operationId: V2_getEventImages
      parameters:
      - description: ID of the event
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "The locale in ISO code format. Multiple comma-separated values\
          \ can be provided. When omitting the country part of the code (e.g. only\
          \ 'en' or 'fr') then the first matching locale is used. When using a '*'\
          \ it matches all locales. '*' can only be used at the end (e.g. 'en-us,en,*') "
        example: "en-us,en,fr"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-id-images-get-parameters-1-schema
        style: form
        x-konfig-original-example: "en-us,en,fr"
      - description: True if you want to display licensed content
        example: ""
        explode: true
        in: query
        name: includeLicensedContent
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-events-id-images-get-parameters-2-schema
        style: form
        x-konfig-original-example: ""
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventImages'
          description: successful operation
      summary: Get Event Images
      tags:
      - v2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--discovery-v2-events-id-images
      x-accepts: '*/*'
  /discovery/v2/suggest:
    get:
      description: "Find search suggestions and filter your suggestions by location,\
        \ source, etc."
      operationId: V2_findSuggest
      parameters:
      - description: Keyword to search on
        example: ""
        explode: true
        in: query
        name: keyword
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-0-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter entities by its source name
        example: ""
        explode: true
        in: query
        name: source
        required: false
        schema:
          default: ""
          enum:
          - ticketmaster
          - ' universe'
          - ' frontgate'
          - ' tmr'
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-1-schema
        style: form
        x-konfig-original-example: ""
      - description: "Filter events by latitude and longitude, this filter is deprecated\
          \ and maybe removed in a future release, please use geoPoint instead"
        example: "33.80003000,-117.88304300"
        explode: true
        in: query
        name: latlong
        required: false
        schema:
          default: ""
          example: ""
          pattern: "^\\s*$|^-?(90(\\.0+)?|[0-8]?[0-9](\\.\\d+)?),-?(180(\\.0+)?|(1[0-7][0-9]|\\\
            d{1,2})(\\.\\d+)?)$"
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-2-schema
        style: form
        x-konfig-original-example: "33.80003000,-117.88304300"
      - description: Radius of the area in which we want to search for events.
        example: ""
        explode: true
        in: query
        name: radius
        required: false
        schema:
          default: "100"
          example: "100"
          pattern: "^\\s*$|^0*1?\\d{1,4}$"
          type: string
          x-konfig-original-example: "100"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-3-schema
        style: form
        x-konfig-original-example: ""
      - description: Unit of the radius
        example: ""
        explode: true
        in: query
        name: unit
        required: false
        schema:
          default: miles
          enum:
          - miles
          - km
          example: miles
          pattern: ^\s*|miles|km$
          type: string
          x-konfig-original-example: miles
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-4-schema
        style: form
        x-konfig-original-example: ""
      - description: Size of every entity returned in the response
        example: ""
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: "5"
          example: "5"
          maximum: 5
          minimum: 1
          type: string
          x-konfig-original-example: "5"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-5-schema
        style: form
        x-konfig-original-example: ""
      - description: "yes, to include fuzzy matches in the search. This has performance\
          \ impact."
        example: ""
        explode: true
        in: query
        name: includeFuzzy
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-6-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter events to clientName
        example: ""
        explode: true
        in: query
        name: clientVisibility
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-7-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter suggestions by country code
        example: ""
        explode: true
        in: query
        name: countryCode
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-8-schema
        style: form
        x-konfig-original-example: ""
      - description: "True, to include events with date to be announce (TBA)"
        example: ""
        explode: true
        in: query
        name: includeTBA
        required: false
        schema:
          default: "no if date parameter sent, yes otherwise"
          enum:
          - "true"
          - ' no'
          - ' only'
          example: "no if date parameter sent, yes otherwise"
          pattern: ^\s*|yes|no|only$
          type: string
          x-konfig-original-example: "no if date parameter sent, yes otherwise"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-9-schema
        style: form
        x-konfig-original-example: ""
      - description: "True, to include event with a date to be defined (TBD)"
        example: ""
        explode: true
        in: query
        name: includeTBD
        required: false
        schema:
          default: "no if date parameter sent, yes otherwise"
          enum:
          - "true"
          - ' no'
          - ' only'
          example: "no if date parameter sent, yes otherwise"
          pattern: ^\s*|yes|no|only$
          type: string
          x-konfig-original-example: "no if date parameter sent, yes otherwise"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-10-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter suggestions by segment id
        example: ""
        explode: true
        in: query
        name: segmentId
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-11-schema
        style: form
        x-konfig-original-example: ""
      - description: filter events by geoHash
        example: dr5rh
        explode: true
        in: query
        name: geoPoint
        required: false
        schema:
          default: ""
          example: ""
          pattern: "^\\s*$|^-?(90(\\.0+)?|[0-8]?[0-9](\\.\\d+)?),-?(180(\\.0+)?|(1[0-7][0-9]|\\\
            d{1,2})(\\.\\d+)?)$|^[a-zA-Z0-9]{1,9}$"
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-12-schema
        style: form
        x-konfig-original-example: dr5rh
      - description: "The locale in ISO code format. Multiple comma-separated values\
          \ can be provided. When omitting the country part of the code (e.g. only\
          \ 'en' or 'fr') then the first matching locale is used. When using a '*'\
          \ it matches all locales. '*' can only be used at the end (e.g. 'en-us,en,*') "
        example: "en-us,en,fr"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-13-schema
        style: form
        x-konfig-original-example: "en-us,en,fr"
      - description: Yes if you want to display licensed content
        example: ""
        explode: true
        in: query
        name: includeLicensedContent
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-14-schema
        style: form
        x-konfig-original-example: ""
      - description: "yes, to include spell check suggestions in the response."
        example: ""
        explode: true
        in: query
        name: includeSpellcheck
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-suggest-get-parameters-15-schema
        style: form
        x-konfig-original-example: ""
      responses:
        "200":
          content:
            application/hal+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/V2FindSuggestResponse'
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/V2FindSuggest200Response'
          description: successful operation
      summary: Find Suggest
      tags:
      - v2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--discovery-v2-suggest
      x-accepts: "application/hal+json; charset=utf-8,application/json; charset=utf-8"
  /discovery/v2/venues:
    get:
      description: "Find venues and filter your search by name, and much more."
      operationId: V2_findVenues
      parameters:
      - description: "Sorting order of the search result. Allowable Values: 'name,asc',\
          \ 'name,desc', 'relevance,asc', 'relevance,desc', 'distance,asc', 'distance,desc'"
        example: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: "relevance,desc"
          example: "relevance,desc"
          pattern: "^(name|relevance|distance),(asc|desc)$"
          type: string
          x-konfig-original-example: "relevance,desc"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-0-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter venues by state / province code
        example: ""
        explode: true
        in: query
        name: stateCode
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-1-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter venues by country code
        example: ""
        explode: true
        in: query
        name: countryCode
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-2-schema
        style: form
        x-konfig-original-example: ""
      - description: "Filter events by latitude and longitude, this filter is deprecated\
          \ and maybe removed in a future release, please use geoPoint instead"
        example: "33.80003000,-117.88304300"
        explode: true
        in: query
        name: latlong
        required: false
        schema:
          default: ""
          example: ""
          pattern: "^\\s*$|^-?(90(\\.0+)?|[0-8]?[0-9](\\.\\d+)?),-?(180(\\.0+)?|(1[0-7][0-9]|\\\
            d{1,2})(\\.\\d+)?)$"
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-3-schema
        style: form
        x-konfig-original-example: "33.80003000,-117.88304300"
      - description: Radius of the area in which we want to search for events.
        example: ""
        explode: true
        in: query
        name: radius
        required: false
        schema:
          default: "50"
          example: "50"
          pattern: "^\\s*$|^0*1?\\d{1,4}$"
          type: string
          x-konfig-original-example: "50"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-4-schema
        style: form
        x-konfig-original-example: ""
      - description: Unit of the radius
        example: ""
        explode: true
        in: query
        name: unit
        required: false
        schema:
          default: miles
          enum:
          - miles
          - km
          example: miles
          pattern: ^\s*|miles|km$
          type: string
          x-konfig-original-example: miles
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-5-schema
        style: form
        x-konfig-original-example: ""
      - description: filter events by geoHash
        example: dr5rh
        explode: true
        in: query
        name: geoPoint
        required: false
        schema:
          default: ""
          example: ""
          pattern: "^\\s*$|^-?(90(\\.0+)?|[0-8]?[0-9](\\.\\d+)?),-?(180(\\.0+)?|(1[0-7][0-9]|\\\
            d{1,2})(\\.\\d+)?)$|^[a-zA-Z0-9]{1,9}$"
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-6-schema
        style: form
        x-konfig-original-example: dr5rh
      - description: Keyword to search on
        example: ""
        explode: true
        in: query
        name: keyword
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-7-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter entities by its id
        example: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          default: ""
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-8-schema
        style: form
        x-konfig-original-example: ""
      - description: Filter entities by its source name
        example: ""
        explode: true
        in: query
        name: source
        required: false
        schema:
          default: ""
          enum:
          - ticketmaster
          - ' universe'
          - ' frontgate'
          - ' tmr'
          example: ""
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-9-schema
        style: form
        x-konfig-original-example: ""
      - description: "True if you want to have entities flag as test in the response.\
          \ Only, if you only wanted test entities"
        example: ""
        explode: true
        in: query
        name: includeTest
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          - ' only'
          example: "false"
          pattern: ^\s*|yes|no|only$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-10-schema
        style: form
        x-konfig-original-example: ""
      - description: Page number
        example: ""
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: "0"
          example: "0"
          minimum: 0
          type: string
          x-konfig-original-example: "0"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-11-schema
        style: form
        x-konfig-original-example: ""
      - description: Page size of the response
        example: ""
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: "20"
          example: "20"
          maximum: 500
          minimum: 1
          type: string
          x-konfig-original-example: "20"
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-12-schema
        style: form
        x-konfig-original-example: ""
      - description: "The locale in ISO code format. Multiple comma-separated values\
          \ can be provided. When omitting the country part of the code (e.g. only\
          \ 'en' or 'fr') then the first matching locale is used. When using a '*'\
          \ it matches all locales. '*' can only be used at the end (e.g. 'en-us,en,*') "
        example: "en-us,en,fr"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-13-schema
        style: form
        x-konfig-original-example: "en-us,en,fr"
      - description: Yes if you want to display licensed content
        example: ""
        explode: true
        in: query
        name: includeLicensedContent
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-14-schema
        style: form
        x-konfig-original-example: ""
      - description: "yes, to include spell check suggestions in the response."
        example: ""
        explode: true
        in: query
        name: includeSpellcheck
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-get-parameters-15-schema
        style: form
        x-konfig-original-example: ""
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/V2FindVenuesResponse'
          description: successful operation
      summary: Venue Search
      tags:
      - v2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--discovery-v2-venues
      x-accepts: '*/*'
  /discovery/v2/venues/{id}:
    get:
      description: Get details for a specific venue using the unique identifier for
        the venue.
      operationId: V2_getVenueDetails
      parameters:
      - description: ID of the venue
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "The locale in ISO code format. Multiple comma-separated values\
          \ can be provided. When omitting the country part of the code (e.g. only\
          \ 'en' or 'fr') then the first matching locale is used. When using a '*'\
          \ it matches all locales. '*' can only be used at the end (e.g. 'en-us,en,*') "
        example: "en-us,en,fr"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-id-get-parameters-1-schema
        style: form
        x-konfig-original-example: "en-us,en,fr"
      - description: True if you want to display licensed content
        example: ""
        explode: true
        in: query
        name: includeLicensedContent
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - ' no'
          example: "false"
          pattern: ^\s*|yes|no$
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--discovery-v2-venues-id-get-parameters-2-schema
        style: form
        x-konfig-original-example: ""
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Venue'
          description: successful operation
      summary: Get Venue Details
      tags:
      - v2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--discovery-v2-venues-id
      x-accepts: '*/*'
components:
  schemas:
    AccessDates:
      description: Event's Access Date
      example:
        startApproximate: false
        startDateTime: 2000-01-23T04:56:07.000+00:00
        endApproximate: true
        endDateTime: 2000-01-23T04:56:07.000+00:00
      properties:
        endApproximate:
          default: false
          description: Boolean flag to indicate whether or not the access end date
            is approximated
          example: true
          type: boolean
          x-position: 3
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccessDates-properties-endApproximate
        endDateTime:
          description: Event's end access time
          format: date-time
          type: string
          x-position: 2
          x-konfig-original-example: yyyy-MM-ddThh-mm-ssZ
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccessDates-properties-endDateTime
        startApproximate:
          default: false
          description: Boolean flag to indicate whether or not the access start date
            is approximated
          example: false
          type: boolean
          x-position: 1
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccessDates-properties-startApproximate
        startDateTime:
          description: Event's start access time
          format: date-time
          type: string
          x-konfig-original-example: yyyy-MM-ddThh-mm-ssZ
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccessDates-properties-startDateTime
      type: object
    Accessibility:
      description: Additional information for people who experience disabilities
      example:
        info: info
      properties:
        info:
          description: Accessibility's information
          type: string
          x-position: 1
      type: object
    Address:
      description: Address
      example:
        line3: line3
        line2: line2
        line1: line1
      properties:
        line1:
          description: Address first line
          type: string
        line2:
          description: Address second line
          type: string
          x-position: 3
        line3:
          description: Address third line
          type: string
          x-position: 3
      type: object
    Area:
      description: Area
      example:
        name: name
      properties:
        name:
          description: Name of the entity
          type: string
          x-position: 10
      type: object
    Attraction:
      description: Attraction
      example:
        classifications:
        - subGenre:
            name: name
            id: id
          segment:
            name: name
            id: id
          genre:
            name: name
            id: id
          subType:
            name: name
            id: id
          type:
            name: name
            id: id
          primary: false
        - subGenre:
            name: name
            id: id
          segment:
            name: name
            id: id
          genre:
            name: name
            id: id
          subType:
            name: name
            id: id
          type:
            name: name
            id: id
          primary: false
        images:
        - attribution: attribution
          width: 6
          fallback: false
          url: url
          height: 0
          ratio: "169"
        - attribution: attribution
          width: 6
          fallback: false
          url: url
          height: 0
          ratio: "169"
        test: false
        upcomingEvents:
          key: 1
        additionalInfo: additionalInfo
        name: name
        description: description
        externalLinks:
          key:
          - id: id
            url: url
          - id: id
            url: url
        id: id
        locale: locale
        type: event
        url: url
      properties:
        description:
          description: Description's of the entity
          type: string
          x-position: 20
        additionalInfo:
          description: Additional information of the entity
          type: string
          x-position: 22
        classifications:
          description: Attraction's classifications
          items:
            $ref: '#/components/schemas/Classification'
          type: array
          x-position: 30
        externalLinks:
          additionalProperties:
            items:
              $ref: '#/components/schemas/ExternalLink'
            type: array
          description: List of external links
          type: object
          x-position: 79
        id:
          description: Unique id of the entity in the discovery API
          type: string
          x-position: 1
        images:
          description: Images of the entity
          items:
            $ref: '#/components/schemas/Image'
          type: array
          uniqueItems: true
          x-position: 29
        locale:
          description: Locale in which the content is returned
          type: string
          x-position: 3
        name:
          description: Name of the entity
          type: string
          x-position: 10
        test:
          default: false
          description: "Indicate if this is a test entity, by default test entities\
            \ won't appear in discovery API"
          example: false
          type: boolean
          x-position: 96
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Attraction-properties-test
        type:
          description: Type of the entity
          enum:
          - event
          - venue
          - attraction
          type: string
        upcomingEvents:
          additionalProperties:
            format: int32
            type: integer
          description: number of upcoming events
          type: object
          x-position: 110
        url:
          description: URL of a web site detail page of the entity
          type: string
          x-position: 24
      required:
      - id
      - type
      type: object
      x-konfig-is-used-in-successful-response: true
    AttractionExtensions:
      description: All Attraction's extensions
      type: object
    Attribution:
      description: Attribution
      properties:
        licenceName:
          description: LicenceName
          type: string
        licenceUrl:
          description: LicenceUrl
          type: string
        sourceName:
          description: SourceName
          type: string
        sourceUrl:
          description: SourceUrl
          type: string
      type: object
    Attributions:
      description: Attributions
      properties:
        description:
          $ref: '#/components/schemas/Attribution'
        descriptions:
          additionalProperties:
            $ref: '#/components/schemas/Attribution'
          description: Attribution descriptions - multi-lingual fields
          type: object
      type: object
    Chronology:
      example:
        zone:
          fixed: false
          id: id
      properties:
        zone:
          $ref: '#/components/schemas/DateTimeZone'
      type: object
    City:
      description: City
      example:
        name: name
      properties:
        name:
          description: Name of the entity
          type: string
          x-position: 10
      type: object
    Classification:
      description: Classification
      example:
        subGenre:
          name: name
          id: id
        segment:
          name: name
          id: id
        genre:
          name: name
          id: id
        subType:
          name: name
          id: id
        type:
          name: name
          id: id
        primary: false
      properties:
        genre:
          $ref: '#/components/schemas/Level'
        primary:
          default: false
          description: True if this is the entity's primary classification
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Classification-properties-primary
        segment:
          $ref: '#/components/schemas/Segment'
        subGenre:
          $ref: '#/components/schemas/Level'
        subType:
          $ref: '#/components/schemas/Level'
        type:
          $ref: '#/components/schemas/Level'
      type: object
      x-konfig-is-used-in-successful-response: true
    Country:
      description: Country
      example:
        countryCode: countryCode
        name: name
      properties:
        countryCode:
          description: Country code (ISO 3166)
          type: string
        name:
          description: Name of the entity
          type: string
          x-position: 10
      type: object
    DateTimeField:
      example:
        minimumValue: 1
        leapDurationField:
          name: name
          precise: false
          type:
            name: name
          unitMillis: 0
          supported: false
        name: name
        durationField:
          name: name
          precise: false
          type:
            name: name
          unitMillis: 0
          supported: false
        rangeDurationField:
          name: name
          precise: false
          type:
            name: name
          unitMillis: 0
          supported: false
        type:
          rangeDurationType:
            name: name
          name: name
          durationType:
            name: name
        maximumValue: 6
        lenient: false
        supported: false
      properties:
        durationField:
          $ref: '#/components/schemas/DurationField'
        leapDurationField:
          $ref: '#/components/schemas/DurationField'
        lenient:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-DateTimeField-properties-lenient
        maximumValue:
          format: int32
          type: integer
        minimumValue:
          format: int32
          type: integer
        name:
          type: string
        rangeDurationField:
          $ref: '#/components/schemas/DurationField'
        supported:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-DateTimeField-properties-supported
        type:
          $ref: '#/components/schemas/DateTimeFieldType'
      type: object
    DateTimeFieldType:
      example:
        rangeDurationType:
          name: name
        name: name
        durationType:
          name: name
      properties:
        durationType:
          $ref: '#/components/schemas/DurationFieldType'
        name:
          type: string
        rangeDurationType:
          $ref: '#/components/schemas/DurationFieldType'
      type: object
    DateTimeZone:
      example:
        fixed: false
        id: id
      properties:
        fixed:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-DateTimeZone-properties-fixed
        id:
          type: string
      type: object
    DisplaySettingExtension:
      description: Event's display settings extension
      properties:
        softLanding:
          default: false
          description: True the landing is Soft otherwise it's Comingled
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-DisplaySettingExtension-properties-softLanding
      type: object
    Dma:
      description: DMA (Designated Market Area)
      example:
        id: 6
      properties:
        id:
          description: DMS's id
          format: int32
          type: integer
      type: object
    DurationField:
      example:
        name: name
        precise: false
        type:
          name: name
        unitMillis: 0
        supported: false
      properties:
        name:
          type: string
        precise:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-DurationField-properties-precise
        supported:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-DurationField-properties-supported
        type:
          $ref: '#/components/schemas/DurationFieldType'
        unitMillis:
          format: int64
          type: integer
      type: object
    DurationFieldType:
      example:
        name: name
      properties:
        name:
          type: string
      type: object
    EndDates:
      description: Event's End Dates
      example:
        dateTime: 2000-01-23T04:56:07.000+00:00
        localTime:
          fieldTypes:
          - rangeDurationType:
              name: name
            name: name
            durationType:
              name: name
          - rangeDurationType:
              name: name
            name: name
            durationType:
              name: name
          values:
          - 3
          - 3
          hourOfDay: 5
          chronology:
            zone:
              fixed: false
              id: id
          fields:
          - minimumValue: 1
            leapDurationField:
              name: name
              precise: false
              type:
                name: name
              unitMillis: 0
              supported: false
            name: name
            durationField:
              name: name
              precise: false
              type:
                name: name
              unitMillis: 0
              supported: false
            rangeDurationField:
              name: name
              precise: false
              type:
                name: name
              unitMillis: 0
              supported: false
            type:
              rangeDurationType:
                name: name
              name: name
              durationType:
                name: name
            maximumValue: 6
            lenient: false
            supported: false
          - minimumValue: 1
            leapDurationField:
              name: name
              precise: false
              type:
                name: name
              unitMillis: 0
              supported: false
            name: name
            durationField:
              name: name
              precise: false
              type:
                name: name
              unitMillis: 0
              supported: false
            rangeDurationField:
              name: name
              precise: false
              type:
                name: name
              unitMillis: 0
              supported: false
            type:
              rangeDurationType:
                name: name
              name: name
              durationType:
                name: name
            maximumValue: 6
            lenient: false
            supported: false
          minuteOfHour: 7
          secondOfMinute: 9
          millisOfDay: 5
          millisOfSecond: 2
        noSpecificTime: false
        approximate: false
        localDate: 2000-01-23
      properties:
        approximate:
          default: false
          description: Boolean flag to indicate whether or not the end date is approximated
          example: false
          type: boolean
          x-position: 3
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-EndDates-properties-approximate
        dateTime:
          description: The event end date time
          format: date-time
          type: string
          x-position: 2
          x-konfig-original-example: yyyy-MM-ddThh-mm-ssZ
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-EndDates-properties-dateTime
        localDate:
          description: The event end date in local date
          format: date
          type: string
          x-konfig-original-example: yyyy-MM-dd
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-EndDates-properties-localDate
        localTime:
          $ref: '#/components/schemas/LocalTime'
        noSpecificTime:
          default: false
          description: Boolean flag to indicate whether or not the event end time
            has no specific time
          example: false
          type: boolean
          x-position: 4
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-EndDates-properties-noSpecificTime
      type: object
    EntityChanges:
      properties:
        changes:
          items:
            type: string
          type: array
          uniqueItems: true
        newlyCreated:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-EntityChanges-properties-newlyCreated
      type: object
    Event:
      description: Event
      example:
        distance: 2.027123023002322
        accessibility:
          info: info
        description: description
        outlets:
        - type: type
          url: url
        - type: type
          url: url
        priceRanges:
        - min: 1.0246457001441578
          max: 1.2315135367772556
          currency: currency
          type: standard
        - min: 1.0246457001441578
          max: 1.2315135367772556
          currency: currency
          type: standard
        units: units
        locale: locale
        type: event
        sales:
          public:
            startDateTime: 2000-01-23T04:56:07.000+00:00
            startTBD: false
            endDateTime: 2000-01-23T04:56:07.000+00:00
          presales:
          - startDateTime: 2000-01-23T04:56:07.000+00:00
            name: name
            description: description
            endDateTime: 2000-01-23T04:56:07.000+00:00
            url: url
          - startDateTime: 2000-01-23T04:56:07.000+00:00
            name: name
            description: description
            endDateTime: 2000-01-23T04:56:07.000+00:00
            url: url
        products:
        - name: name
          id: id
          type: type
          url: url
        - name: name
          id: id
          type: type
          url: url
        additionalInfo: additionalInfo
        externalLinks:
          key:
          - id: id
            url: url
          - id: id
            url: url
        promoter:
          name: name
          description: description
          id: id
        id: id
        place:
          area:
            name: name
          country:
            countryCode: countryCode
            name: name
          address:
            line3: line3
            line2: line2
            line1: line1
          city:
            name: name
          postalCode: postalCode
          name: name
          location:
            latitude: 4.145608029883936
            longitude: 7.386281948385884
          state:
            name: name
            stateCode: stateCode
        promoters:
        - name: name
          description: description
          id: id
        - name: name
          description: description
          id: id
        info: info
        images:
        - attribution: attribution
          width: 6
          fallback: false
          url: url
          height: 0
          ratio: "169"
        - attribution: attribution
          width: 6
          fallback: false
          url: url
          height: 0
          ratio: "169"
        seatmap:
          staticUrl: staticUrl
        test: false
        dates:
          access:
            startApproximate: false
            startDateTime: 2000-01-23T04:56:07.000+00:00
            endApproximate: true
            endDateTime: 2000-01-23T04:56:07.000+00:00
          timezone: timezone
          start:
            dateTime: 2000-01-23T04:56:07.000+00:00
            localTime:
              fieldTypes:
              - rangeDurationType:
                  name: name
                name: name
                durationType:
                  name: name
              - rangeDurationType:
                  name: name
                name: name
                durationType:
                  name: name
              values:
              - 3
              - 3
              hourOfDay: 5
              chronology:
                zone:
                  fixed: false
                  id: id
              fields:
              - minimumValue: 1
                leapDurationField:
                  name: name
                  precise: false
                  type:
                    name: name
                  unitMillis: 0
                  supported: false
                name: name
                durationField:
                  name: name
                  precise: false
                  type:
                    name: name
                  unitMillis: 0
                  supported: false
                rangeDurationField:
                  name: name
                  precise: false
                  type:
                    name: name
                  unitMillis: 0
                  supported: false
                type:
                  rangeDurationType:
                    name: name
                  name: name
                  durationType:
                    name: name
                maximumValue: 6
                lenient: false
                supported: false
              - minimumValue: 1
                leapDurationField:
                  name: name
                  precise: false
                  type:
                    name: name
                  unitMillis: 0
                  supported: false
                name: name
                durationField:
                  name: name
                  precise: false
                  type:
                    name: name
                  unitMillis: 0
                  supported: false
                rangeDurationField:
                  name: name
                  precise: false
                  type:
                    name: name
                  unitMillis: 0
                  supported: false
                type:
                  rangeDurationType:
                    name: name
                  name: name
                  durationType:
                    name: name
                maximumValue: 6
                lenient: false
                supported: false
              minuteOfHour: 7
              secondOfMinute: 9
              millisOfDay: 5
              millisOfSecond: 2
            dateTBA: false
            noSpecificTime: false
            timeTBA: false
            localDate: 2000-01-23
            dateTBD: false
          end:
            dateTime: 2000-01-23T04:56:07.000+00:00
            localTime:
              fieldTypes:
              - rangeDurationType:
                  name: name
                name: name
                durationType:
                  name: name
              - rangeDurationType:
                  name: name
                name: name
                durationType:
                  name: name
              values:
              - 3
              - 3
              hourOfDay: 5
              chronology:
                zone:
                  fixed: false
                  id: id
              fields:
              - minimumValue: 1
                leapDurationField:
                  name: name
                  precise: false
                  type:
                    name: name
                  unitMillis: 0
                  supported: false
                name: name
                durationField:
                  name: name
                  precise: false
                  type:
                    name: name
                  unitMillis: 0
                  supported: false
                rangeDurationField:
                  name: name
                  precise: false
                  type:
                    name: name
                  unitMillis: 0
                  supported: false
                type:
                  rangeDurationType:
                    name: name
                  name: name
                  durationType:
                    name: name
                maximumValue: 6
                lenient: false
                supported: false
              - minimumValue: 1
                leapDurationField:
                  name: name
                  precise: false
                  type:
                    name: name
                  unitMillis: 0
                  supported: false
                name: name
                durationField:
                  name: name
                  precise: false
                  type:
                    name: name
                  unitMillis: 0
                  supported: false
                rangeDurationField:
                  name: name
                  precise: false
                  type:
                    name: name
                  unitMillis: 0
                  supported: false
                type:
                  rangeDurationType:
                    name: name
                  name: name
                  durationType:
                    name: name
                maximumValue: 6
                lenient: false
                supported: false
              minuteOfHour: 7
              secondOfMinute: 9
              millisOfDay: 5
              millisOfSecond: 2
            noSpecificTime: false
            approximate: false
            localDate: 2000-01-23
          spanMultipleDays: false
          status:
            code: onsale
        url: url
        classifications:
        - subGenre:
            name: name
            id: id
          segment:
            name: name
            id: id
          genre:
            name: name
            id: id
          subType:
            name: name
            id: id
          type:
            name: name
            id: id
          primary: false
        - subGenre:
            name: name
            id: id
          segment:
            name: name
            id: id
          genre:
            name: name
            id: id
          subType:
            name: name
            id: id
          type:
            name: name
            id: id
          primary: false
        name: name
        pleaseNote: pleaseNote
        location:
          latitude: 4.145608029883936
          longitude: 7.386281948385884
      properties:
        info:
          description: Any information related to the event
          type: string
          x-position: 32
        description:
          description: Description's of the entity
          type: string
          x-position: 20
        accessibility:
          $ref: '#/components/schemas/Accessibility'
        additionalInfo:
          description: Additional information of the entity
          type: string
          x-position: 22
        classifications:
          description: Event's classifications
          items:
            $ref: '#/components/schemas/Classification'
          type: array
          x-position: 50
        dates:
          $ref: '#/components/schemas/EventDates'
        distance:
          format: double
          type: number
        externalLinks:
          additionalProperties:
            items:
              $ref: '#/components/schemas/ExternalLink'
            type: array
          description: List of external links
          type: object
          x-position: 79
        id:
[...]
